* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.container-outer {
  padding: 100px 10px; }

.container-inner {
  min-width: 300px;
  max-width: 1280px;
  margin: 0 auto; }

.header--outer {
  margin-bottom: 30px; }

.header__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px; }
  .header__title--fs {
    font-size: 38px; }

.header__calendar {
  margin-left: 30px; }

.header__select {
  font-size: 16px;
  padding: 5px; }

.header__subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 28px; }

.header__link {
  display: block;
  font-size: 20px;
  text-decoration: none; }

.title {
  font-weight: 700; }

.title-line {
  position: relative;
  text-align: left; }
  .title-line:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 60px;
    left: 0;
    background-color: silver;
    margin: 0px 0px 0px 0px; }

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.move-card:hover:before {
  position: absolute;
  content: "";
  border: 1px solid silver;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1; }

@media (max-width: 1249px) {
  .move-card:before {
    position: absolute;
    content: "";
    border: 1px solid silver;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1; } }

.move-card {
  width: 400px;
  position: relative; }
  .move-card__picture {
    width: 400px;
    height: 200px;
    position: relative; }
  .move-card__rating {
    position: absolute;
    top: 30px;
    left: 30px;
    padding: 7px 14px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px; }
  .move-card__tickets {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px 15px;
    background-color: yellow;
    font-size: 20px;
    font-weight: 600; }
  .move-card__inner {
    max-width: 300px;
    height: 150px;
    margin: 10px auto; }
  .move-card__category {
    font-size: 18px;
    text-transform: uppercase;
    color: #474747;
    margin-bottom: 10px; }
  .move-card__title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px; }
  .move-card__text {
    font-size: 18px;
    margin-bottom: 10px; }
  .move-card__cinema {
    color: #474747; }
  .move-card--mrb {
    margin-bottom: 10px;
    margin-right: 10px; }

@media (max-width: 1250px) {
  .row {
    justify-content: flex-start; } }

@media (max-width: 856px) {
  .row {
    justify-content: center; } }

@media (max-width: 827px) {
  .move-card--mrb {
    margin-right: 0; } }

@media (max-width: 472px) {
  .container-outer {
    padding-top: 10px;
    padding-bottom: 10px; }
  .header--outer {
    margin-bottom: 15px; }
  .move-card {
    width: 300px; }
    .move-card__picture {
      width: 300px; }
    .move-card__inner {
      max-width: 200px;
      height: 135px; }
    .move-card__category {
      font-size: 14px; }
    .move-card__title {
      font-size: 18px; }
    .move-card__text {
      font-size: 14px; } }

@media (max-width: 467px) {
  .header__link {
    font-size: 14px; }
  .header__subtitle {
    font-size: 22px; }
  .title {
    font-size: 30px; }
  .title-line:after {
    top: 50px; } }

@media (max-width: 412px) {
  .header__link {
    font-size: 14px; }
  .header__subtitle {
    font-size: 18px; }
  .title-line:after {
    top: 83px; } }

.move-card__rating--silver {
  background-color: slategray; }

.move-card__rating--green {
  background-color: green; }
